.cursor {
  mix-blend-mode: exclusion;
    position: absolute;
    background-color: var(--white);
    width: 0.4em;
    height: 0.4em;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
  }
  .cursor.active {
    opacity: 0.5;
    transform: scale(0);
  }
  .cursor.hovered {
    opacity: 0.08;
  }
  .cursor-follower {
    mix-blend-mode: exclusion;
    position: absolute;
    background-color: rgba(0, 0, 0, .0);
    border-color: var(--white); 
    border-style: solid;
    border-width: 0.5px;
    width: 1.4em;
    height: 1.4em;
    border-radius: 100%;
    z-index: 1;
    transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);
  }
  .cursor-follower.active {
   border-color: var(--white); 
    border-style: solid;
    border-width: 0.5px;
    background-color: rgba(0, 0, 0, .0);
    opacity: 0.7;
    transform: scale(3);
  }
  .cursor-follower.hovered {
    opacity: 0.08;
  }
  
  .link-list {
    position: absolute;
    bottom: 0;
    left: 0;
    list-style: none;
  }
  .link-list__item {
    display: inline-block;
  }
  

  @media only screen and (max-width: 734px) {
 .cursor,  .cursor-follower{
   display: none;
 }
  }