
.cursor {
  mix-blend-mode: exclusion;
    position: absolute;
    color: var(--white);
    width: 0.4em;
    height: 0.4em;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -o-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .cursor.active {
    opacity: 0.5;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .cursor.hovered {
    opacity: 0.08;
  }
  .cursor-follower {
    mix-blend-mode: exclusion;
    position: absolute;
    background-color: rgba(0, 0, 0, .0);
    border-color: var(--white); 
    border-style: solid;
    border-width: 0.5px;
    width: 1.4em;
    height: 1.4em;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -o-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: 10000;
    -webkit-transform: translate(5px, 5px);
        -ms-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  .cursor-follower.active {
   border-color: var(--white); 
    border-style: solid;
    border-width: 0.5px;
    background-color: rgba(0, 0, 0, .0);
    opacity: 0.7;
    -webkit-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
  }
  .cursor-follower.hovered {
    opacity: 0.08;
  }
  
  .link-list {
    position: absolute;
    bottom: 0;
    left: 0;
    list-style: none;
  }
  .link-list__item {
    display: inline-block;
  }
  
  @media only all and (max-width: 1366px) {
    .cursor,  .cursor-follower{
      display: none;
    }
     }

  @media only all and (max-width: 1100px) {
    .cursor,  .cursor-follower{
      display: none;
    }
     }
  @media only all and (max-width: 734px) {
 .cursor,  .cursor-follower{
   display: none;
 }
  }