
.body-text h1 {
  font-size: var(--font-size-h1);
color: var(--white);
margin: 0.3em 0;
}

.body-text p {
  font-size: var(--font-size-p);
  font-family: B;
/* color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--white); */
color: var(--white);
}

.body-text a{
  font-size: var(--font-size-a);
  font-family: M;
  color: var(--white);
  max-width: 70px;
}

.slider-text{
  z-index: 500;
}
.swiper-pagination-fraction{
  z-index: 499;
}
.slider-img{
  z-index: 100;
}



/* START style texts in .card-section and created animation */
.swiper-slide p {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: .2s ease .4s;
}

.swiper-slide h1 {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: .2s ease .5s;
}

.swiper-slide a {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: .2s ease .6s;
}

.swiper-slide-active p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
transition: 0.4s cubic-bezier(.68, -0.4, .27, 1.34) 1.6s;
}

.swiper-slide-active  h1 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
 transition: 0.4s cubic-bezier(.68, -0.4, .27, 1.34) 1.7s;
}

.swiper-slide-active  a {
  opacity: 1;
  transform: translate3d(0, 0, 0);
transition: 0.4s cubic-bezier(.68, -0.4, .27, 1.34) 1.8s;
}

/* END style texts in .card-section and created animation */

.section-content {
  position: relative;
}



.swiper-wrapper {
  transition: 2s cubic-bezier(.68, -0.4, .27, 1.34) .2s;
  
}



.slider-img  {
max-width: 900px;
position: absolute;
right: 8rem;
overflow: hidden;
height: 100%;
min-height: 100vh;
}
.swiper-container .swiper-slide>img {
  display: flex;
  align-items: center;
width: 100%;
height: 100%;
min-height: 100vh;
  object-fit: cover;
  object-position: center center;
  background-size: contain !important;
  background-repeat: no-repeat;
background-position: center center!important;
}

.slider-img .swiper-slide img{
  transition: 1s ease-in-out;
  filter: brightness(90%);
}
.slider-img .swiper-slide:hover img{
  transform: scale(1.05);
  filter: brightness(100%);
}

.slider-text {
  position: absolute;
  left: 2rem;
  max-width: 1000px;
  height: 100%;
}
.body-text{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}
.slider-text .swiper-container-autoheight, .slider-text.swiper-container-autoheight .swiper-slide {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 600px !important;
  top:  calc(((100% - 300px) * 0.5));
}

.swiper-pagination{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-fraction{
position: absolute;
width: 100px;
left: auto;
font-size: var(--font-size-a);
font-family: B;
color: var(--white);
height: 100%;
bottom: 0px;
right: 1em;
  
}
.swiper-pagination-current:before{
  content: "0";
}

.swiper-pagination-total:before{
  content: "0";
}
.swiper-pagination-fraction span{
  margin: 1em 0;
}


.slider-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-button {
  width: 100px;
  height: 100%;
  z-index: 500;
  right: 1em;
  left: auto;

}
.swiper-button-prev,
.swiper-button-next {
  font-size: var(--font-size-a);
  font-family: M;
  color: var(--white);
  left: auto;
  right: auto;
  outline: 0 !important;
}
.slider-button  .swiper-button-prev{
 top: 42%;
}
.slider-button  .swiper-button-next {
top: 58%;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: var(--grey);
  cursor: auto;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
  content: "";
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: "";
}

@media only all and (max-width: 1366px) {
  .body-text{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  }
  .slider-text .swiper-container-autoheight, .slider-text.swiper-container-autoheight .swiper-slide {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px !important;
    top:  calc(((100% - 200px) * 0.5));
  }
.slider-img {
  max-width: 100%;
  position: absolute;
  right: 0rem;
  overflow: hidden;
  height: 100%;
  }  
  
}
@media only all and (max-width: 1100px) {
  .body-text{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  }
  .slider-text .swiper-container-autoheight, .slider-text.swiper-container-autoheight .swiper-slide {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px !important;
    top:  calc(((100% - 200px) * 0.5));
  }
.slider-img {
  max-width: 100%;
  position: absolute;
  right: 0rem;
  overflow: hidden;
  height: 100%;
  }  
}
@media only all and (max-width: 734px) {
  .body-text{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  }
  .slider-text .swiper-container-autoheight, .slider-text.swiper-container-autoheight .swiper-slide {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px !important;
    top:  calc(((100% - 200px) * 0.5));
  }
.slider-img {
  max-width: 900px;
  position: absolute;
  right: 0rem;
  overflow: hidden;
  height: 100%;
  }  
}
@media only all and (max-width: 340px) {
  .body-text{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  }
  .slider-text .swiper-container-autoheight, .slider-text.swiper-container-autoheight .swiper-slide {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px !important;
    top:  calc(((100% - 200px) * 0.5));
  }
.slider-img {
  max-width: 900px;
  position: absolute;
  right: 0rem;
  overflow: hidden;
  height: 100%;
  }  
}
