

:root {

  /* Font sizes */
  --font-size-h1: 120px;
  --font-size-h2: 60px;
  --font-size-h3: 22px;
  --font-size-h4: 16px;
  --font-size-h5: 100px;
  --font-size-p: 22px;
  --font-size-a: 14px;


  --fontWeigh: 300;
  --main_lineHeight: 1.6;
  --main_letterSpacing: .181vw;


  /* Colors */
  --yellow: #fbfb32;
  --grey: #A6A6A6;
  --black: #131313;
  --white: #F2F2F2;
}

p{
  font-family: R;
  font-size: var( --font-size-p);
  font-weight: var(--fontWeigh);
  line-height: var(--main_lineHeight);

}
h1{
  font-family:B;
  font-size: var( --font-size-h1);
  line-height: var(--main_lineHeight);
    text-transform: uppercase;
}
h2{
  font-family: R;
  font-size: var( --font-size-h2);
  line-height: var(--main_lineHeight);
}
h3{
font-family: B;
font-size: var( --font-size-h3);
line-height: var(--main_lineHeight);
}
h4{
font-family: R;
font-size: var( --font-size-h4);
line-height: var(--main_lineHeight);
}
h5{
font-family:B;
font-size: var(--font-size-h5);
line-height: var(--main_lineHeight);
text-transform: uppercase;
}
a{
  text-decoration: none;
}
@media only all and (max-width: 1366px) {
  :root {

    /* Font sizes */
    --font-size-h1: 80px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 14px;
    --font-size-h5: 48px;
    --font-size-p: 20px;
    --font-size-a: 14px;
  }
}
@media only all and (max-width: 1100px) {

  :root {

    /* Font sizes */
    --font-size-h1: 72px;
    --font-size-h2: 30px;
    --font-size-h3: 20px;
    --font-size-h4: 14px;
    --font-size-h5: 28px;
    --font-size-p: 18px;
    --font-size-a: 14px;
  }  
}
@media only all and (max-width: 734px) {

  :root {

    /* Font sizes */
    --font-size-h1: 56px;
    --font-size-h2: 32px;
    --font-size-h3: 18px;
    --font-size-h4: 16px;
    --font-size-h5: 40px;
    --font-size-p: 16px;
    --font-size-a: 14px;
  }
}

@media only all and (max-width: 340px) {

  :root {

    /* Font sizes */
    --font-size-h1: 48px;
    --font-size-h2: 20px;
    --font-size-h3: 16px;
    --font-size-h4: 10px;
    --font-size-h5: 18px;
    --font-size-p: 12px;
    --font-size-a: 8px;
  }
}

/* забираємо відступи від головного блоку */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
}

body {
  background: var(--black);
  /* position: relative; */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;

}

mark {
  background-color: var(--yellow);
  /* color: #161616; */
}

/* Шрифти */


@font-face {
   font-family: R;
src: url(../Font/NeueHaasDisplay-Roman.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family:B;
  src: url(../Font/NeueHaasDisplay-Bold.woff) format('woff');
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family:M;
  src: url(../Font/NeueHaasDisplay-Mediu.woff) format('woff');
    font-style: normal;
    font-display: swap;
}


.pace {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:var(--grey);
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  max-width: 100%;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background:var(--white);
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100%;
  z-index: 1000;
  background:var(--black);
  overflow:hidden;
  position:fixed;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.text_load {
  display: flex;
  width:30vw;
  height: 50%;
  margin:10em auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
align-content: center;
}

.text_load_title h2{
  display: inherit;
    position: relative;
    color:var(--white);
    font-family:B;
    text-transform: uppercase;
}
.home__title__emoji {
  padding-bottom: 4em;
  display: inherit;
  max-height: 3.5em;
  height: auto;
  position: relative;
  width: 1.8em;
}

 .home__title__emoji__icon {
  height: 100%;
  width: 80%;
}

/* START .link position and decoration */
.wrapper .link{
  font-family: M;
    text-transform: uppercase;
    color: var(--white);
    font-size: var(--font-size-a);
    letter-spacing: 1px;
    cursor: pointer;  
    right: 2rem;
    top: 34px;
    margin: 0px;
    position: absolute;
    opacity: 1;
  }
  
.link {
  cursor: pointer;
  color: var(--white);
}


.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: '';
  /* show by default */
}
.link--ersa::before {
  /* top: 50%; */
  height: 2px;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link--ersa:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.link--ersa a {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link--ersa:hover a {
  transform: scale3d(1.1, 1.1, 1.1);
}
/*END .link position and decoration */


.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  position: fixed;
  z-index: 999;
}


.left-header,
.right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.left-header {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.right-header {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  top: 28px;
  left: 2rem;
  margin: 0px;
  position: fixed;
  mix-blend-mode: exclusion;
  z-index: 998;
}

.logo img {
  height: 80%;
  width: 50%;
  position: relative;
}



.btn-price a {
  right: 2rem;
  bottom: 38px;
  font-size: var(--font-size-a);
    color: var(--white)!important;
  font-family: M;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;
  text-align: center;
}

.footer {
  bottom: 0px;
  position: fixed;
  height: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 998;
}
.c-socials__list-item a {
  font-size: var( --font-size-a);
  font-family: R;
    color: var(--grey);
    margin: 0 1em;
    
    -webkit-transition:  0.6s ease-in-out;
    -moz-transition:  0.6s ease-in-out;
    -o-transition:  0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}
.c-socials__list-item:hover a {
    color: var(--white);
}
/* Start social div */
.c-socials {
  left: 2rem;
  position: fixed;
  bottom: 38px;
}
.c-socials__list{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  bottom: 34px;
  display: inline-flex;

}
.c-socials__list-item {
  list-style-type: none;  
  list-style-position: outside;
}
/* End social div */


@media only all and (max-width: 1100px) {

  .text_load {
    display: flex;
    width:100vw;
    height: 50%;
    margin:10em auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  align-content: center;
  }
  .c-socials__list {
    width: 30vw;
}
}
@media only all and (max-width: 734px) {

  .header-logo__svg{
    width: 80px;
    height: 25px;
  }


  .text_load {
    display: flex;
    width:100vw;
    height: 80%;
    margin:1em auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  align-content: center;
  }
  .home__title__emoji {
    padding-bottom: 4em;
    display: inherit;
    max-height: 3.5em;
    width: 3.8em;
  }
  .home__title__emoji__icon {
    height: 100%;
    width: 100%;
  }
  .c-socials__list {
    width: 50vw;
}
  }
  @media only all and (max-width: 370px) {

    .text_load {
      display: flex;
      width:100vw;
      height: 80%;
      margin:1em auto;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    align-content: center;
    }
    .text_load_title h2{
      top: 50%;
    }
    .home__title__emoji {
      padding-bottom: 4em;
      display: inherit;
      max-height: 3.5em;
      width: 3.8em;
    }
    .home__title__emoji__icon {
      height: 100%;
      width: 100%;
    }
  }