/*Style-css Variables*/

:root {

  /* Font sizes */
  --font-size-h1: 140px;
  --font-size-h2: 40px;
  --font-size-h3: 26px;
  --font-size-h4: 16px;
  --font-size-h5: 50px;
  --font-size-p: 20px;
  --font-size-a: 14px;


  --fontWeigh: 300;
  --main_lineHeight: 1.4;
  --main_letterSpacing: .181vw;


  /* Colors */
  --yellow: hsl(60, 96%, 59%);
  --grey: hsl(0, 0%, 60%);
  --black: hsl(0, 0%, 6%);
  --white: white;
}
@media only all and (max-width: 1300px) {
  :root {

    /* Font sizes */
    --font-size-h1: 80px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 14px;
    --font-size-h5: 40px;
    --font-size-p: 20px;
    --font-size-a: 12px;
  }
}
@media only all and (max-width: 1100px) {

  :root {

    /* Font sizes */
    --font-size-h1: 70px;
    --font-size-h2: 30px;
    --font-size-h3: 20px;
    --font-size-h4: 14px;
    --font-size-h5: 28px;
    --font-size-p: 18px;
    --font-size-a: 12px;
  }  
}
@media only all and (max-width: 734px) {

  :root {

    /* Font sizes */
    --font-size-h1: 30px;
    --font-size-h2: 28px;
    --font-size-h3: 18px;
    --font-size-h4: 14px;
    --font-size-h5: 24px;
    --font-size-p: 16px;
    --font-size-a: 12px;
  }
}

@media only all and (max-width: 340px) {

  :root {

    /* Font sizes */
    --font-size-h1: 22px;
    --font-size-h2: 20px;
    --font-size-h3: 16px;
    --font-size-h4: 10px;
    --font-size-h5: 18px;
    --font-size-p: 12px;
    --font-size-a: 8px;
  }
}

/* забираємо відступи від головного блоку */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
}

body {
  background: black;
  overflow: hidden;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  /* position: relative; */
  min-height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

mark {
  background-color: var(--yellow);
  /* color: #161616; */
}

/* Шрифти */


@font-face {
   font-family: R; 
   src: url(../Font/Poppinslight.woff);
}

@font-face {
  font-family:B;
  src: url(../Font/Monument\ Extended\ Bold.woff);
}

@font-face {
  font-family:M;
  src: url(../Font/Poppinspoppins-semiboldmedium.woff);
}


.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 300px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:var(--grey);
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 300px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background:var(--white);
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  min-height:100vh;
  z-index: 1000;
  background:var(--black);
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.text_load {
  font-size:var(--font-size-p);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--white);
    font-family: "Monument Extended",B;
}


#filter {
  background: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

#modalForm {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
  display: none;
  width: 100%;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--white);
}

.modalHeder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.Modaldiscript-forms {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.Modaldiscript_text {
  align-items: flex-start;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  width: 28vw;
  padding: 2rem 0;
}

.Modaldiscript_text p {
  color: var( --black);
}

.Modaldiscript_text a {
  color: var( --black);
  font-family: R;
  font-size: var( --font-size-p);
}
.Modal_boxs {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.close-button {
  z-index: 99;
  right: 2rem;
  top: 34px;
  /* mix-blend-mode: exclusion; */
  position: absolute;
  opacity: 1;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;  
}
.close-button a{
  color: var(--black);
  font-family: M;
}
.close-button a:hover{
  transform: scale(1.2);
transition: all 300ms linear 0s;
}


.header {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  z-index: 2;
}


.left-header,
.right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.left-header {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.right-header {
  box-sizing: inherit;
  justify-content: flex-end;
}

.logo {
  z-index: 999;
  top: 28px;
  left: 2rem;
  margin: 0px;
  position: fixed;
  mix-blend-mode: exclusion;
}

.logo img {
  height: 80%;
  width: 50%;
  position: relative;
}

.submenu:hover {
  background-color: rgba(0, 0, 0, .0);
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid  var(--yellow);

  font-family: Gilroy-Medium;
  font-size: 18px;
}

.btn-price {
  border: none;
  right: 2rem;
  bottom: 38px;
  font-size: var(--font-size-a);
    color: var(--white);
  background-color: rgba(0, 0, 0, .0);
  font-family: M;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;  
  align-items: center;
  text-align: center;
}

.btn-price:hover {
  transform: scale(1.2);
  transition: all 300ms linear 0s;
}


.footer {
  bottom: 0px;
  position: fixed;
  height: 200px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only all and (max-width: 1300px) {
  #modalForm {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .Modaldiscript-forms {
    margin: 6em 0;
  }
}
@media only all and (max-width: 1100px) {

  .Modaldiscript-forms {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
  }
}
@media only all and (max-width: 734px) {
  #modalForm {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-logo__svg{
    width: 80px;
    height: 25px;
  }

.Modaldiscript_text {
  padding: 1rem 0;
}
  .Modaldiscript_text {
    width: 70vw;
 
  }
  .Modaldiscript-forms {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6em 0;
  }
  .em{
    margin: 1em 0;
  }
  }
  @media only all and (max-width: 370px) {
    .Modaldiscript-forms {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 4em 0;
    }
  }